
<div ng-repeat="item in itemCtrl.items | limitTo:itemCtrl.limit track by item.id">
  <div class="row">
      <div class="col-lg-12 each_item">
          <div class="image">
             <img ng-src="{{::item.image}}" alt="">
          </div>
          <div class="desc_container">
             <div class="name">{{::item.name}}</div>
             <div class="desc">{{::item.desc}}</div>
          </div>
          <div class="quantity" ng-if="!itemCtrl.isChecked(item)">
            <md-slider ng-model="item.getValue" aria-label="slider" id="red-slider" ng-init="item.getValue =1" step="1" min="1" max="10"></md-slider>
            <div class="">
              Quantity
            </div>
            {{item.getValue}}
          </div>
          <div class="price">
              {{::item.price}}$
          </div>
          <div class="btn_holder">
              <button ng-if="!itemCtrl.isChecked(item)" class="btn btn-primary cart_btn" ng-click="itemCtrl.add(item)">Add To Cart</button>
              <button ng-if="itemCtrl.isChecked(item)" class="btn btn-danger cart_btn" ng-click="itemCtrl.remove(item)">Remove</button>
          </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 text-center">
    <button type="button" class="btn btn-primary" ng-click="itemCtrl.loadMore()" name="button">Load More</button>
  </div>
</div>
