
.reg__input_container{
    width:40%;

}
.reg__form{
    margin-top: 10%;
    display: $disp;
    flex: 1;
    flex-direction: column;
}
.reg__input_wrapper{
    display: $disp;
    flex: 1;
    justify-content: $center_place;
}
.reg__btn{
    @extend .reg__input_container
}
