
.reg_input_container{
    width:40%;

}
.register_form{
    margin-top: 10%;
    display: flex;
    flex: 1;
    flex-direction: column;
}
.reg_input_wrapper{
    display: flex;
    flex: 1;
    justify-content: center;
}
.register_btn{
    width:40%;
}
