.purchase__each_purchase{
  margin-bottom: 1rem;
}
.purchase__strong{
  font-weight:600;
  margin-left: 1rem;
  margin-right: 1rem;
}
.purchase__title{
  font-size: 2rem;
  display: $disp;
  justify-content: $center_place;
}
.purchase__info{
  display: $disp;
  justify-content: space-around;
}
.purchase__each_item{
  display: $disp;
  align-items: $center_place;
  flex: 1;
  justify-content: $center_place;
  font-size:$f_size;
}
.purchase__name,.purchase__desc,.purchase__price,.purchase__getValue,.purchase__price_for_one{
  @extend .purchase__each_item;
  flex-direction: column;
  text-align: $center_place;
}
.purchase__top_title{
  display: $disp;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-size:2rem ;
}
