.acme-navbar-text{
  color: white;

}
.navbar__currency_dropdown{
  color: #5AADBB;
}
@keyframes fadeInRight {
  0% {top:4rem}
  100%{right:0rem}
}
.navbar__tooltip{
}
.navbar__notification{
  position: absolute;
  top: 2rem;
  left: 8rem;
  height: 1rem;
  display: flex;
  background: red;
  width: 1rem;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  font-size: 1rem;
  animation: 0.3s fadeInRight ease-in;
}
a {
  color: black;
}

h1 {
  font-size: 2em;
  margin: 0;
  line-height: 1.25em;
}

a:hover, a:focus {
  color: white;
}

.navbar_logout{
  cursor: pointer;
}
.shop_cart{
  color:white;
  float: left;
  padding: 12px 12px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
  cursor: pointer;
}
.navbar__shop_icon{
  color: #5AADBB;
  &:hover{
    color: white;
  }
}.navbar{
   font-size: $f_size;
 }
 .navbar-brand{
   font-size: $f_size;
 }
