

<md-dialog aria-label="Your Shopping Cart">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Your Shopping Cart</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="dg.cancel()">
          <i class="material-icons">clear</i>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>Check your cart</h2>
          <p ng-repeat="item in dg.items track by item.id">
            {{item}}
          </p>
      </div>
    </md-dialog-content>

  </form>
</md-dialog>
