.login__form{
    display: $disp;
    margin-top: 15%;
    flex-direction: column;
//    background: rgba(0, 0, 0, 0.4);
//    width: 50%;
//    margin-left: auto;
//    margin-right: auto;
}
.login__err_messages{
    color:red;
    margin-top: 1rem;
}
.login__input_container{
    width: 40%;
}
.login__input_wrapper{
    display: $disp;
    flex: 1;
    justify-content:$center_place;
}
.login__btn{
    width: 40%;
}
